#NetBeans
/nbproject

#CLion
/.idea
/cmake-build-*
/clion-*

#Code::Blocks
*.cbp
*.layout

#CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
/.hunter
cmake/cable
cmake/Hunter/disabled-mode

#generated
/include/config.h

#C++
*.o
*.so
*.a

WORKING_DIRECTORY
.travis.yml
todo.txt

/bin/Lotos++

Doxyfile
/doc

*.log
report.txt
/_unused
