#NetBeans
/nbproject

#Code::Blocks
*.cbp
*.layout

#CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

include/config.h
include/version.h
cmake/Config.cmake

#C++
*.o
*.so
*.a

WORKING_DIRECTORY

todo.txt

bin/Lotos2

Doxyfile
/doc

*.log
