#NetBeans
/nbproject

#Code::Blocks
*.cbp
*.layout

#CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
include/config.h

#C++
*.o
*.so
*.a

WORKING_DIRECTORY

todo.txt

src/Lotos2

Doxyfile

*.log
